@import '../utilities';

#incubator-view {
    height: 100%;
    font-family: "Lato";
    .row {
        height: 100%;
        .main-view {
            padding: 0;
            padding-bottom: 10px;
            overflow-y: scroll;
            .container-fluid {
                padding: 0;
            }
        }
        
    }
    
}